.field{
  display: inline-block;
  vertical-align: text-top;
  margin:20px;
}

.field2{
  margin-left: 20px;
  margin-right: 20px;
}

.mat-dialog-actions {
  position: relative;
  float: right;
  margin-bottom: 1px;
  margin-right: 20px;
}

.customerIds-chip-list {
  width: 100%;
}


