<h1 mat-dialog-title>Create new Toggle Feature</h1>
<div mat-dialog-content>
  <div class="field">
    <p>Feature name</p>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="toggleFeature.displayName" required>
      </label>
    </mat-form-field>
  </div>

  <div *ngIf="label==='CREATE'" class="field">
    <p>Technical name</p>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="toggleFeature.technicalName" required>
      </label>
    </mat-form-field>
  </div>

  <div class="field">
    <p>Expiration date</p>
    <mat-form-field>
      <label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="toggleFeature.expiresOn"
               required>
      </label>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="field">
    <p>Description</p>
    <mat-form-field>
      <label>
        <input matInput [(ngModel)]="toggleFeature.description" required>
      </label>
    </mat-form-field>
  </div>


  <div class="field">
    <p>OFF / ON</p>
    <mat-slide-toggle [(ngModel)]="toggleFeature.inverted" required></mat-slide-toggle>
  </div>
</div>

<div>
  <div class="field2">
    <p>Customer ID's</p>
    <mat-form-field class="customerIds-chip-list">
      <mat-chip-list #chipList required>
        <mat-chip *ngFor="let id of toggleFeature.customerIds" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(id)">
          {{id}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <label>
          <input
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </label>
      </mat-chip-list>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-flat-button color="warn" (click)="onNoClick()">CANCEL</button>
    <button mat-button mat-flat-button color="primary"
            [mat-dialog-close]="toggleFeature">{{label}}</button>
  </div>
</div>

