/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body {
  margin: 0;
  padding: 50px 50px;
  background:#ebf0fd;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
