<div>
  <h1 id="h1"> Toggle Features </h1>
  <button mat-button mat-flat-button id="createButton" color="primary" (click)="createToggleFeature()">+ New feature
  </button>

  <mat-form-field id="filterTable">
    <label>
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </label>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
      <td mat-cell *matCellDef="let feature; let i = index;"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Display name</th>
      <td mat-cell *matCellDef="let feature"> {{feature.displayName}} </td>
    </ng-container>

    <ng-container matColumnDef="technicalName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Technical name</th>
      <td mat-cell *matCellDef="let feature"> {{feature.technicalName}}</td>
    </ng-container>

    <ng-container matColumnDef="expiresOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Expires on</th>
      <td mat-cell *matCellDef="let feature"> {{feature.expiresOn | date:'short'}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let feature"> {{feature.description}}</td>
    </ng-container>

    <ng-container matColumnDef="inverted">
      <th mat-header-cell *matHeaderCellDef>Inverted</th>
      <td mat-cell *matCellDef="let feature" [ngStyle]="{'color':feature.inverted ? 'red' : 'black' }"> {{feature.inverted}}</td>
    </ng-container>

    <ng-container matColumnDef="customerIds">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer ID's</th>
      <td mat-cell *matCellDef="let feature">
        <div class="container">
          <table id="table2" mat-table *ngIf="feature.customerIds.length>0" [dataSource]="feature.customerIds"
                 class="mat-elevation-z8">
            <ng-container matColumnDef="ids">
              <th mat-header-cell *matHeaderCellDef>IDs</th>
              <td mat-cell *matCellDef="let feature2"> {{feature2}}</td>
            </ng-container>
            <tr mat-row *matRowDef="let row2; columns: customerIdsColumns;"></tr>
          </table>
        </div>
      </td>
    </ng-container>


    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let feature">
        <button mat-button mat-flat-button color="primary" (click)="updateToggleFeature(feature.technicalName,feature)">
          Update
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="archive">
      <th mat-header-cell *matHeaderCellDef>Archive</th>
      <td mat-cell *matCellDef="let feature">
        <button mat-button mat-flat-button color="warn" (click)="deleteToggleFeature(feature.technicalName)">Archive
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>


