table {
  width: 100%;
}

#createButton {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

#h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
}

#filterTable {
  position: relative;
  float: right;
  margin-right: 10px;
}

.mat-header-cell {
  text-align: center;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.container {
  max-height: 100px;
  overflow: auto;
}

.mat-column-no {
  width: 40px !important;
}

.mat-column-edit {
  width: 90px !important;
}

.mat-column-archive{
  width: 90px !important;
}

.mat-row:hover{
  background-color:#FAFBFF;
}
